body {
    margin: 0;
    background-color: #262626;
    font-family: 'Outfit';
    height: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.card {
    background: #13124F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 38%;
    min-height: 100vh; 
}

.title-card {
    color: #ABD9D9;
    font-size: 3rem;
    min-width: 300px;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 3.7rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 3.1rem;
    margin-bottom: 2.5rem;
}

span{
    color: #FFFFFF;
}

.img-card{
    width: 300px;
    max-width: 320px;
    height: auto;
}


.change-password-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
    flex-grow: 1;
    margin-bottom: 2rem;
}


#btn-password {
    padding: 1.3rem 4rem;
    background-color: #8D8DDA;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}


.footer-section{
    padding: 1rem 0;
    width: 100%;
    background: linear-gradient(315deg, #ABD9D9 0%, #5151C6 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.footer-title {
    color: #FFFFFF;
    font-size: 1rem;
    text-transform: uppercase;
}



/*Media querys doing the page responsive*/
@media (max-width: 988px) {
    .card {
        width: 50%;
    }

    .title-card{
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .img-card {
        width: 70%;
        margin-bottom: 2rem;
    }

    .btn-password {
        font-size: 1.2rem;
    }

    .footer-section{
        flex-direction: column;
        gap: 1rem;
    }

    .footer-title {
        font-size: 1rem;
    }

    .footer-link {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
