body {
    margin: 0;
    background-color: #000235;
    font-family: 'Outfit';
    height: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.card {
    background: #13124F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 38%;
    min-height: 100vh;
    position: relative;
}

.title-card {
    color: #FFFFFF;
    font-size: 2.5rem;
    min-width: 300px;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 3.7rem;
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: rem;
    margin-top: 3rem;
}

span{
    color: #FFFFFF;
    text-align: start;
    line-height: 30px;
    font-size: 20px;
}

span:last-child{
    opacity: 65%;
}

.img-card{
    width: 300px;
    max-width: 320px;
    height: auto;
    margin-bottom: 2.5rem;
}


.change-password-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    text-align: center;
    width: 100%;
}


#btn-password {
    padding: 20px 60px;
    background-color: #ABD9D9;
    border-radius: 50px;
    border: 2px solid #000000;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}


.footer-section{
    padding: 5px 0;
    width: 100%;
    background: linear-gradient(315deg, #ABD9D9 0%, #5151C6 100%);
    margin-top: auto;
}



/*Media querys doing the page responsive*/
@media (max-width: 988px) {
    .card {
        width: 50%;
    }

    .title-card{
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .img-card {
        width: 70%;
        margin-bottom: 2rem;
    }

    span{
        text-align: center;
    }

    #btn-password {
        font-size: 1.2rem;
        padding: 10px 30px;
    }
}


