<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Change Password Template</title>
        <link rel='stylesheet' href='./styles.css'>
    </head>
    <body>
        <main>
            <div class='card'>
                <h1>We received a request to reset your password</h1>
                <div class='card-body'>
                    <p class='intro'>
                        Use this link below to set up a new password for your account
                    </p>
                    <button type='submit'>Set new password</button>
                    <p class='outro'>
                        If you did not request to reset your password,
                        ignore this email and the link will expire on its own
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>